<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
  <title>Instructor's Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/CSS/style_index.css">
  <script>

    function addStudentToCourse(userId,courseId) {
      const userCourse = {
        userId: userId,
        courseId: courseId,
        progress: 0,
      }
      fetch(`/addcourse/${userId}/${courseId}`, {
        method: 'POST',
        body: JSON.stringify(userCourse),

      })
              .then(response => {
                if (!response.ok) {
                  throw new Error('Error adding course');
                }
                alert('Course added successfully');
              })
              .catch(error => {
                console.error(error);
                alert('Error adding course');
              });
    }
  </script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">ADMIN DASHBOARD</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/profile">Update Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <a class="navbar-brand" href="#">Administrator Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/profile">Update Profile</a>
      </li>
    </ul>
  </div>
</div>
</nav>

<div class="container-fluid mt-3">
  <br><br>
  <h2>Work Space</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Student Name</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
      <td th:text="${student.firstname} + ' ' + ${student.lastname}"></td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Course
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <th:block th:each="course : ${courses}">
              <button class="dropdown-item" type="button" th:attr="onclick='addStudentToCourse(\'' + ${student.id}+ '\', \'' + ${course.id} + '\');'">
                <span th:text="${course.title}"></span>
              </button>
            </th:block>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>