<!DOCTYPE html>
<html>
  <head>
    <title>Prices</title>
    <link rel="stylesheet" href="/CSS/style_pricing.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">   
    <div th:replace ="header :: myheader"></div>
  </head>
 <body>
    
    <br><br><br><br><br><br>
    <h3 class="card-price text-center text-white text-uppercase">Suscriptions Plans</h3>
    <section class="pricing py-5">
        <div class="container">
            <div class="row">
                 <!-- Preferred Subs -->
                <div class="col-lg-6">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">BUY INDIVIDUAL COURSES</h5>
                            <h6 class="card-price text-center">$10 USD - $50 USD <span class="period">/Single purchase</span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <p>Buy individual courses on programming languages, such as Java, C#, python, PHP. This option is cost-effective, flexible, and targeted way to learn specific programming skills, without the commitment of a monthly subscription. </p>
                            </ul>
                           <center><a href="/catalog" class="btn btn-block btn-info text-uppercase text-white">Visit our Catalog</a></center>
                        </div>
                    </div>
                </div>
                <!-- Premium Subs -->
                <div class="col-lg-6">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">PERSONAL PLAN</h5>
                            <h6 class="card-price text-center">$16 USD<span class="period">/month</span></h6>
                            <hr>
                            <ul class="fa-ul">
                                <p>The Personal plan includes: more than 100 courses on programming languages, such as Java, C#, python, PHP, among others. 
                                   It also includes more than 400 practical exercises and 200 quizes.</p>
                            </ul>
                            <center><a href="#" class="btn btn-block btn-info  text-white text-uppercase">Buy Now</a></center>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
	
	<!-- All Js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>